img {
    height: 3rem;
}

.header {
    justify-content: center;
    background-color: rgb(131, 56, 6);
    height: 10%;
}

span {
    display: flex;
    align-items: center;
}

h1 {
    padding-left: 1.2rem;
    font-size: 1.5rem;
}